<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

  <div id="app">
    <input type="checkbox" id="Task 1" value="Task 1" v-model="checkedTasks">
    <label for="Task 1">Task 1</label>
    <input type="checkbox" id="Task 2" value="Task 2" v-model="checkedTasks">
    <label for="Task 2">Task 2</label>
    <input type="checkbox" id="Task 3" value="Task 3" v-model="checkedTasks">
    <label for="Task 3">Task 3</label>
    <br>
</div>


</body>
<script src="create.js"></script>
</html>
